{% extends "layout.html" %}

{% block body %}
<div>
    <h3>Hakkımda</h3>
    <hr size="40px" color="red" />
    <br><br>

    <p style="color: black;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt voluptate molestias vel sequi quaerat
        quibusdam
        repudiandae velit, suscipit eos animi accusantium sapiente accusamus itaque odit aspernatur dolorem,
        corrupti
        similique
        quae!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi praesentium suscipit illum doloribus ullam
        est
        officia! Beatae quasi sit voluptatum cumque iste accusamus corrupti repudiandae incidunt, perferendis fugit
        dolor
        molestias.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima ipsa, doloribus eius reiciendis consectetur
        inventore
        vel eum voluptate alias, perferendis enim. Cum laborum, nihil asperiores quaerat natus assumenda autem id.
    </p>
</div>
{% endblock %}